.product-info .product-name {
    margin-bottom: 8px;
}

.product-info .product-name h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.product-info .product-price span.pro-price {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #E30019;
}

.product-info .product-price del {
    font-size: 18px;
    line-height: 22px;
    color: #6D6E72;
    margin: 0 0 0 12px;
    font-weight: 400;
}

.info-content {
    width: 100%;
}

@media (min-width: 1200px) {
    .product-layout .product-info {
        -ms-flex: 0 0 65%;
        flex: 0 0 65%;
        max-width: 65%;
    }
}

.product-info .product-price span.pro-percent {
    font-size: 12px;
    display: inline-block;
    padding: 3px 8px;
    margin-left: 12px;
    color: #E30019;
    border: 1px solid #E30019;
    border-radius: 4px;
    vertical-align: text-bottom;
    white-space: nowrap;
}

.product-info .product-actions .action-buys {
    display: flex;
    margin-bottom: 8px;
}

.product-info .product-actions button {
    text-align: center;
    padding: 10px 10px 14px;
    color: #fff;
}

.product-info .product-actions button {
    text-align: center;
    padding: 10px 10px 14px;
    color: #fff;
}

@media (min-width: 992px) {
    button.btn-buynow {
        width: 55%;
    }
}

@media (min-width: 992px) {
    .button:hover,
    .button:focus {
        color: #ffffff;
    }
}

.button.btn-buynow {
    width: 100%;
    min-height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    background-color: red;
}

.product-info .product-price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-info [class^="product-"] {
    margin: 0 0 16px 0;
}

.product-info .product-actions {
    margin: 0;
}

.product-info [class^="product-"] {
    margin: 0 0 16px 0;
}

.product-actions .maintext {
    font-weight: 600;
    font-size: 18px;
}

.product-actions button span {
    display: block;
}