/* BoxShadowLoader.css */

.loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.load-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span {
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    background: #3498db;
    animation: scale 1s infinite ease-in-out;
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}

.loader span:nth-child(2) {
    animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    animation-delay: 0.5s;
}

@keyframes scale {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}