.main-header {
    position: relative;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #E30019;
}

.secondary-menu {
    display: flex;
    align-items: center;
}

header a {
    color: #fff
}

.main-header .main-header--top .container-fluid .row-header .mobile-menu {
    display: none;
}

.icon {
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
}

.mnwrapper {
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: #1976d2;
    height: 100vh;
    width: 35vw;
}

.mnwrapper a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 1px 1px 1px #555;
    margin: 10px 0;
}



header a:hover {
    color: #dadada;
}

@media (min-width: 992px) {
    .main-header .main-header--top .row-header {
        padding: 16px 0;
    }
}

.main-header .main-header--top .row-header {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 8px 0;
}

.box-text {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    white-space: nowrap;
    color: #fff;
}

.main-header .main-header--top .header-action-item .header-action_text {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.main-header .main-header--top .header-action-item .header-action_text .header-action__link {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;
    color: #fff;
}

@media only screen and (max-width:768px) {
    .main-header .main-header--top .container-fluid .row-header .mobile-menu {
        display: block;
        margin-right: 25px;
    }

    .main-header .main-header--top .header-action-item.hide-mb {
        display: none;
    }
}

@media (min-width: 992px) {
    .main-header .main-header--top .header-action-item.hide-mb {
        display: block;
    }
}

@media (max-width: 1170px) {
    .box-text {
        display: none;

    }
}